@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&family=Gluten:slnt,wght@2,700&family=Oswald:wght@200..700&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Gluten:slnt,wght@2,700&family=Oswald:wght@200..700&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Gluten:slnt,wght@2,700&family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Gluten:slnt,wght@2,700&family=Inconsolata:wdth,wght@112.5,200..900&family=Lexend+Exa:wght@500&family=Oswald:wght@200..700&family=Unbounded:wght@200..900&display=swap');

body{
    background-color: #e9d8ff;
}

.coluna1{
    background-color:#6860c0;
    border-radius: 3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 800px;
    text-align: center;
}
.foto{
    background-image: url(/MTXX_MH20230321_072416905.jpg);
    background-size: cover;
    width: 70px;
    height: 70px;
    padding: 20%;
    border-radius: 100%;
    border: 3px solid rgb(0, 0, 0)

}

#name{
    
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: rgb(14, 0, 0);
    font-size: 200%;

}
#job{
    
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
    color: rgb(218, 199, 250);
    font-size: 150%;
}

#frase{

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 112.5;
    color: rgb(21, 6, 46);
    font-size: 115%;
    font-weight: bold;
}

.lista{
    background-color: #332a8d;
    border-radius: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
 
}
.list{
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-align: left;
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}